ol>li>img{
    width: 20px;
}

.input_add{
    border-radius: 10px;
}

.btn_add{
    border-radius: 10px;
    color: grey;
}

.div{
    background: rgba(128, 128, 128, 0.363);
    border-radius: 10px;
    width: 80%;
    margin: 10px 0;
}


.div--div{
    height: auto;
}